*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(135deg, #0A2558 10%, #1de2d1 100%);
    overflow: hidden;
}

/* Animacion del loader de la pagina */
.loader{
    background: #0A2558;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader div{
    background: #fff;
    width: 16px;
    height: 32px;
    margin-left: 10px;
    animation: loader 1.2s infinite;     
}

@keyframes loader {
    50%{
        height: 64px;
    }   
}

.loader div:nth-child(1){
    background: #43C6AC;
    animation-delay: -0.40s;
}
.loader div:nth-child(2){
    background: #2AE2E1;
    animation-delay: -0.20s;
}
.loader div:nth-child(3){
    background: #03FFFD;
    animation-delay: 0s;
}

/* background wave*/
.wave{
    position: fixed;
    height: 100%;
    z-index: -1;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7rem;
    padding: 0 2rem;
}


.img {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    backdrop-filter: blur(2px);
    /*background-color: #1de2d1;*/
}

/* Logo "hotbetshop" */
.img .logo h3{
    margin-left: -250px;
    margin-bottom: 5px;
    font-size: 28px; 
    font-weight: 500;
    color: #f2f2f2;
    text-decoration: none;
}

/* Imagen del store  */
.img img{
    display: flex;
    justify-content: space-evenly;
    width: 480px;
    margin-bottom: 65px;
}

.login-container {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly; /*revisar si dejar o quitar, si esta muy abajo el form */
    align-items: center;
    text-align: center;
    margin-bottom: 9%;
}


.avatar {
    width: 100px;
    margin-bottom: -200px;
}

.input-div .form-group{
    text-align: left;
}

/* Titulo del form "Bienvenido"*/
.form-group-tittle h2{
    font-size: 3em;
    font-weight: bold;
    text-align: center; 
    letter-spacing: 7px;
    text-transform: uppercase;
    margin: 15px 0;
    color: #fff;
    margin-top: 165px;
    opacity: 0.1;
    animation: estirar 2s ease-in-out forwards;
    animation-delay: 3s;
}
/* Animacion para estirar titulo del form */
@keyframes estirar {
    50% {
        letter-spacing: 20px;
        font-size: 4em;
    }
    100% {
        letter-spacing: 7px;
        opacity: 1;
        font-size: 3em;
    }
    
}

/* Linea separadora entre titulo y texto*/
.form-group-tittle .separador {
    width: 180px;  /* 210px 180px*/
    height: 4px;
    background-color: #1de2d1;
    margin: 15px 206px;  /* margin: horizont 20px vertical 206px; */
    
}

/* Texto de invitacion a poner credenciales*/
.form-group-tittle .texto p{
    margin-left: 17px;
    color: #fff;
    font-size: 1.1em;

    height: 0;
    overflow: hidden;
    animation: aparecer 1s forwards;
    animation-delay: 4s;
}
/* Animacion para hacer aparecer el texto*/
@keyframes aparecer {
    100% {
        height: 80px;
    }
}

/* Clases de las cajas de login usuario y contraseña con placeholders...*/
.input-div {
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 1px 0;
    position: relative;
    /*border-bottom: 2px solid #d9d9d9;*/ 
}

/* Color de los iconos de login */
.input-div .i i {
    position: absolute;
    color: #1de2d1;
    bottom: 25%;
    padding-right: 10px;
}

/* Labels de usuario y contraseña */
.input-div label {
    top: -5px;
    font-size: 20px;
    color: #fff;
}

.input-div label:hover{
    color: #1de2d1;
}

.btn {
    display: block;
    width: 75%;
    height: 50px;
    border-radius: 25px;
    margin: 1em 100px;
    font-size: 1.2rem;
    outline: none;
    border: none;
    background: linear-gradient(135deg, #1de2d1 20%, #0A2558 100%);
    /*background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);*/
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    background-size: 200%;
    transition: .5s;
}

.btn:hover {
    background-position: right;
}

@media screen and (max-width: 1050px) {
    .container {
        grid-gap: 5rem;
    }
}
    
@media screen and (max-width: 1000px){
    form{
        width: 290px;
    }

    form h2 {
        font-size: 2.4rem;
        margin: 8px 0;
    }

    .img img{
        width: 400px;
    }
    
}

@media screen and (max-width: 900px) {
    .img{
        display: none;
    }

    .container {
        grid-template: 1fr;
    }

    .wave {
        display: none;
    }

    .login-container{
        justify-content: center;
    }
}




